.itemDetail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    
}

.info-detail{
    text-align: center;
    width: 300px;
    margin-top: 2.5rem;
    
}

.title{
    color: black;
    font-weight: bold;
    font-size: 30px;
    
}

img{
    width: 300px;
}

addButton{
    padding: 0px 15px;
   
  
  
}
.Button1{
    padding: 20px;
}

.addButton{
    padding: 0px 5px;
}

span {
    margin: 0 10px;
  }